<div class="loading_wrapper invisible">
	<!-- ################# LOADING ############# -->
    <%- include('./loading.ejs');  -%>
</div>
<div class="admin_container">
	 <h3 class="info_text">No User Avalible</h3>
	<div class="table">
  	<div class="tr table_head">
	  	<div class="th">Name</div>
	  	<div class="th">email</div>
	  	<div class="th">email verified</div>
	  	<div class="th">Created at</div>
	  	<div class="th">License No</div>
	  	<div class="th">date of birth</div>
	  	<div class="th">Phone NO</div>
	  	<div class="th">expereince</div>
	  	<div class="th">Is Verified</div>
	  	<div class="th">Remove</div>
	  	<div class="th">Verifiy</div>
  	</div>

  </div>
</div>