<div class="loading_wrapper invisible">
  <!-- ################# LOADING ############# -->
  <%- include('./loading.ejs');  -%>
</div>
<p class="text-center font-weight-bold mt-2">Rider's</p>
<div class="admin_container">
  <h3 class="info_text info_text-rider ">No Rider Avalible</h3>
  <div class="table table_rider">
    <div class="tr table_head">
      <div class="th">Photo</div>
      <div class="th">Name</div>
      <div class="th">Created at</div>
      <div class="th"> licenseno</div>
      <div class="th">Adhar no</div>
      <div class="th">Verified</div>
      <div class="th">Remove</div>
      <div class="th">Verifiy</div>
    </div>
  </div>
</div>


<p class="text-center font-weight-bold mt-2">User's</p>
<div class="admin_container">
  <h3 class="info_text info_text-user">No User Avalible</h3>
  <div class="table table_user">
    <div class="tr table_head">
      <div class="th">Photo</div>
      <div class="th">Name</div>
      <div class="th">email verified</div>
      <div class="th">Adhar no</div>
      <div class="th">Created at</div>
      <div class="th">is Verified</div>
      <div class="th">Verifiy</div>
      <div class="th">Remove</div>

    </div>
  </div>
</div>