<div class="loading_wrapper invisible">
  <!-- ################# LOADING ############# -->
  <%- include('./loading.ejs');  -%>
</div>
<section class="booking_container">
  <div class="booking_card">
    <div class="booking_card-seat">
      <% if(type==="taxi"){ %>
      <label>No of passenger?</label>
      <input type="number" name="" max="<%= max_passenger%>" class="booking_card-passenger">
      <%}%>
			</div>
			<div class="booking_card-form">
				 <label class="form-label" for="formBasicPhoneno">Write message to rider
                </label>
               <textarea placeholder="Example: &quot;I'm a student at Chennai University, and I often visit friends in tirunelveli. I love travel with you.&quot;" class="form-control booking_card-msg" name="bio" maxlength="500" ></textarea>
			</div>

			<input type="button" name="Book" value="Send Confirmation" class="btn d-flex mx-auto mt-2 booking_btn" id=<%= id %>>
    </div>
</section>