<div class="reset_container">
  <div class="reset_img">
    <img src="/public/img/verifiy.svg">
  </div>
  <div class="reset_text">
    <h2>Verified!</h2>
    <p>You have sucessfully verified the account </p>
  </div>

</div>