<div class="forget_container">
	<div class="forget_img">
		<img src="/public/img/forget.svg">
	</div>
	<div class="forget_text">
		<h2>Forgot Password?</h2>
		<p>Enter the email address associated with your account.We will send link to reset the password</p>
		<input type="email" name="email" placeholder="Enter Email Address" class="forget_email" >
		<input type="button" name="send_link" class="send_link" value="Send Link">
	</div>
	<div>
		<p class="forget_error"></p>
	</div>
</div>
