<div class="home_dropdown invisible">

	<div class="home_option">
		<div class="home_option-text">
			<a href="/signin" >
			<p class="text-capitalize d-flex justify-content-between">
				Sign in
				
				<span class="home_dropdown-arrow"></span>
			</p>
				</a>
		</div>

		<div class="home_option-text">
			<a href="/signup" >
				<p class="text-capitalize d-flex justify-content-between">
				Sign up
					<span class="home_dropdown-arrow"></span>
				</p>
				</a>
		</div>

	</div>

</div>