<div class="reset_container">
	<div class="reset_img">
		<img src="/public/img/reset.svg">
	</div>
	<div class="reset_text">
		<h2>Change Password</h2>
		<p>Create a new, strong password that you don't use for other websites. </p>
		
		<input type="password" name="password" class="reset_password" placeholder="Enter a new password" >
		<input type="button" name="change_password" class="change_password" value="Change Password">	

	</div>
		<p class="reset_error"></p>
	
</div>
