<div class="options_wrapper">
  <p class="text-capitalize font-weight-bold mt-4">Choose type </p>
  <div class="options_container">
  	<a href="/rider/get/ride/taxi">  
    <div class="options1_container">
      <p class="text-capitalize"><img src="/public/img/taxi.jpg" alt="vechiles" class="options_img"><br>Taxi</p></a>
    </div>

    <div class="options2_container">
    	<a href="/rider/get/ride/goods&services">
      <p class="text-capitalize"> <img src="/public/img/truck.svg" alt="vechiles" class="options_img"><br>Goods&Services</p></a>
    </div>
  </div>
</div>