<div class="profile_dropdown invisible">
  <div class="profile">
    <div class="profile_img">
      <img src="/rider/profile/<%= rider.profile%>">
    </div>
    <div class="profile_text">
      <a class="profile_text-link text-muted" href="/rider/profile">
        <div class=>
          <div class=""><span>Hello</span>,
          </div>
        </div>
        <div class="">
          <div class="font-weight-bold "><%= rider.name %></div>
        </div>
        <span class="profile_text-edit">View and edit profile</span>
      </a>
    </div>
  </div>

  <div class="profile_option">
    <div class="profile_option-text">
      <p class="text-capitalize"><a href="/rider/get/myrides/">my rides</a></p>
    </div>

    <div class="profile_option-text">

      <p class="text-capitalize"><a href="/rider/logout">logout</a></p>
    </div>

    <div class="profile_option-text">
      <img src="">
      <p></p>
    </div>
  </div>

</div>