<section class="section1">
	<div class="section1_image">
		<img src="/public/img/section1.png">
	</div>
	<div class="section1_text">
		<p class="section1_text-heading" >Driving in your car soon?</p>
		<p class="text-muted">Let's make this your least expensive journey ever.</p>
		<a href="/user/get/myride/form">
			<input type="button" name="offerride" class="section1_text-button" value="offer a ride">
		</a>
	</div>
</section>