<section class="section1">
  <div class="section1_image">
    <img src="/public/img/section1.png" alt="section1">
  </div>
  <div class="section1_text">
    <p class="section1_text-heading">Driving in your car soon?</p>
    <p class="text-muted">Let's make this your least expensive journey ever.</p>
    <a href="/rider/get/myride/form">
      <input type="button" name="offerride" class="section1_text-button" value="offer a ride">
    </a>
  </div>
</section>

<section class="section2">
  <div class="section2_text">
    <p class="section1_text-heading">What is ShareMyRide?</p>
    <p class="text-muted">ShareMyRide an eco-smart option for handling all your travel needs by connecting you with fellow professional riders. As our cities are growing, increased traffic adds to the chaos and pollution. Hence, we have committed to providing a convenient, economical and sustainable solution to this problem through carpooling and goods&service pooling</p>
  </div>
  <div class="section1_image">
    <img src="/public/img/section2.svg" alt="section2">

  </div>
</section>


<section class="section3">



  <div class="section3_opt">

    <div>
      <p class="section1_text-heading">Why ShareMyRide?</p>

      <div class="section3_sub">
        <img src="/public/img/save-money.png" alt="save-money">
        <p class="section3_text-heading">Save More on every ride</p>
        <p class="section3_text ">With ShareMyRide you get the best value for rides.</p>
      </div>

      <div class="section3_sub">
        <img src="/public/img/no-money.png" alt="no-money">
        <p class="section3_text-heading">No Transaction Charges</p>
        <p class="section3_text ">We believe in making every ride even more pleasant, therefore enjoy your pool without any transaction charges.</p>
      </div>
    </div>
    <div class="section3_sub" >
      <img src="/public/img/friends.png" alt="friends">
      <p class="section3_text-heading">Networking on the go</p>
      <p class="section3_text ">Create new friendships with your fellow carpoolers. Connect with various professionals and enjoy networking while on your rides.</p>
    </div>

</section>