<div class="options_wrapper">
  <p class="text-capitalize font-weight-bold mt-4"><%= link %></p>
  <div class="options_container">
    <div class="options1_container">
      <a href="/<%= link %>/user">
        <p class="text-capitalize"><img src="/public/img/user.svg" class="options_img" alt="user"><br>As User</p>
      </a>
    </div>
    <div class="options2_container">
      <a href="/<%= link %>/rider">
        <p class="text-capitalize"> <img src="/public/img/rider.svg" class="options_img" alt="rider"><br>As Driver</p>
      </a>
    </div>
  </div>
</div>