<div class="options_container">
	<div class="options1_container">
		<p class="text-capitalize"><a href="/<%= link %>/user"> As User</a></p>
	</div>
	<div class="options2_container">
		<p class="text-capitalize"><a href="/<%= link %>/rider">As Rider</a></p>
	</div>
</div>