<!DOCTYPE html>
<html>
<head>
	<title>Email Verified</title>
	 <!-- #############	HEADER #######################-->
	           <%- include('components/header.ejs');  -%>
   <link rel="stylesheet" type="text/css" href="/public/styles/form.css">	

	
</head>
<body>
	
  	<!-- ############# NAVIGATION #######################-->
	           <%- include('components/nav.ejs');  -%>


	<!-- ############# FORGET PASSWORD #######################-->
             <%- include('components/emailVerified.ejs');  -%>
             
  	
</body>
<!-- #############	FOOTER #######################-->
	           <%- include('components/footer.ejs');  -%>
	           

</html>
