<!DOCTYPE html>
<html>
<head>
		<title>Forget Password</title>
	 <!-- #############	HEADER #######################-->
	           <%- include('components/header.ejs');  -%>
   <link rel="stylesheet" type="text/css" href="/public/styles/form.css">	
</head>
<body>
	
  	<!-- ############# NAVIGATION #######################-->
	           <%- include('components/nav.ejs');  -%>


	<!-- ############# FORGET PASSWORD #######################-->
             <%- include('components/forgetPassword.ejs');  -%>
             
  	
</body>
<!-- #############	FOOTER #######################-->
	           <%- include('components/footer.ejs');  -%>
<script src="/public/js/forgetPassword.js"></script>

</html>
