<!DOCTYPE html>
<html>
<head>

	<title>My Ride</title>
	<!-- ############# HEADER #######################-->
               <%- include('components/header.ejs');  -%>
     <!--Custom css-->
    <link rel="stylesheet" type="text/css" href="/public/styles/signup.css">
    
</head>
<body>
	<!-- ############# NAVIGATION #######################-->
             <%- include('components/nav.ejs') -%>

  <!-- ############# MY RIDES FROM #######################-->
             <%- include('components/myRideForm.ejs') -%>
</body>
 <!-- ############# FOOTER #######################-->
             <%- include('components/footer.ejs');  -%>
</html>