<!DOCTYPE html>
<html>

<head>
	<title>Reset Password</title>
	 <!-- #############	HEADER #######################-->
	           <%- include('components/header.ejs');  -%>
	<link rel="stylesheet" type="text/css" href="/public/styles/form.css">
<body>
	<!-- ############# NAVIGATION #######################-->
	<%- include('components/nav.ejs');  -%>
		<!-- ############# FORGET PASSWORD #######################-->
		<%- include('components/resetPassword.ejs');  -%>
</body>
<!-- #############	FOOTER #######################-->
	           <%- include('components/footer.ejs');  -%>
<script src="/public/js/resetPassword.js"></script>

</html>