<!DOCTYPE html>
<html>

<head>

  <title>User Profile</title>
  <!-- ############# HEADER #######################-->
  <%- include('components/header.ejs');  -%>
</head>

<body>
  <!-- ############# NAVIGATION #######################-->
  <%- include('components/nav.ejs') -%>

  <!-- ############# SIGNUP #######################-->
  <%- include('components/riderProfile.ejs') -%>
</body>
<!-- #############  FOOTER #######################-->
<%- include('components/footer.ejs');  -%>

</html>