<!DOCTYPE html>
<html>
<head>

	<title>Sign In</title>
	<!-- #############	HEADER #######################-->
	           <%- include('components/header.ejs');  -%>
   </head>
<body>
	
  <!-- ############# NAVIGATION #######################-->
             <%- include('components/nav.ejs') -%>

	<!-- ############# SIGNIN #######################-->
             <%- include('components/signin.ejs') -%>

	
</body>
	 <!-- #############	FOOTER #######################-->
	           <%- include('components/footer.ejs');  -%>
</html>