<!DOCTYPE html>
<html>

<head>

  <title>Account</title>
  <!-- ############# HEADER #######################-->
  <%- include('components/header.ejs');  -%>
  <link rel="stylesheet" type="text/css" href="/public/styles/signinOptions.css">
</head>

<body>
  <!-- ############# NAVIGATION #######################-->
  <%- include('components/nav.ejs') -%>

  <!-- ############# SIGNUP #######################-->
  <%- include('components/signinOptions.ejs') -%>
</body>
<!-- #############  FOOTER #######################-->
<%- include('components/footer.ejs');  -%>

</html>