.user {
  display: flex;
  flex-wrap: wrap;
  border-radius: 10px;
  padding: 1rem;
  border: 1px solid #e5e5e5;
  margin: 1rem;
}

.user_face img {
  height: 70px;
}

.user_detail {
  margin-left: 10px;
}