:root {
  /*//#ff6a00*/
  --primary-color: white;
  --secondary-color: yellow;
  /*;*/
  --third-color: yellow;
  --secondary-color-less:#ffff00d9;
  --font-color:black;
  /*#0028fffa;*/

}

body {
  background-color: var(--primary-color);
}

/*   navigation */
nav {
  border: 1px solid #e5e5e5;
  background-color: white;
}

nav li a {
  border-radius: 5px;
  transition: background-color 0.4s ease-in-out;
}

nav li .nav-link:hover {
  background-color: var(--secondary-color);
  color:var(--font-color) !important;
}
.btn:focus{
  box-shadow: none !important;
}
.navbar-nav {
  align-items: center;
}

.home_img {
  height: 35px;
  position: relative;
}

.home_img:hover~.home_dropdown {
  display: flex;
}

.home_dropdown::before {
  bottom: 100%;
  right: 16px;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 12px solid transparent;
  border-bottom-color: var(--secondary-color);
}

.home_dropdown-arrow {
  display: inline-block;
  align-self: center;
  margin-right: 37px;
  cursor: pointer;
  height: 7px;
  width: 7px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  border-right: 1.5px solid black;
  border-top: 1.5px solid black;
}

.user_img {
  height: 35px;
  position: relative;
  border-radius: 50%;
}

.arrow,
.home_arrow {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}

.rotate {
  transform: rotate(180deg);
}

.dropdown_wrapper,
.myrides_wrapper,
.loading_wrapper {
  position: fixed;
  z-index: 100;
  height: 100vh;
  width: 100vw;
}

.loading_wrapper {
  background-color: rgba(0, 0, 0, 0.6);
}

.profile_dropdown::before {
  bottom: 100%;
  right: 16px;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border: 12px solid transparent;
  border-bottom-color: var(--secondary-color);
}

.profile_dropdown,
.home_dropdown {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  position: absolute;
  min-width: 288px;
  padding: 20px;
  right: 31px;
  top: 56px;
  border: 1px solid #e5e5e5;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 12%), 0 6px 6px 0 rgb(0 0 0 / 24%);
  border-radius: 4px;
  z-index: 100;
}

.home_dropdown {
  width: 180px;
  padding: 10px;
  right: 10px;
}

.home_option-text a {
  text-decoration: none;

}

.home_option-text p {
  color: black;
  padding: 0.50rem 0;
  padding-left: 0.50rem;
  cursor: pointer;
  border-radius: 7px;
  transition: background-color 0.2s ease-in-out;
}

.home_option-text p:hover {
  background-color: var(--secondary-color);
  color: var(--font-color);
}

.profile {
  display: flex;
  justify-content: center;
}

.profile_img {
  margin-right: 33px;

}

.profile_img img {
  height: 68px;
  border-radius: 50%;
}

.profile_text {}

.profile_text-edit {
  text-decoration: underline;
}

.profile_text-link {}

.profile_option {
  border-top: 1px solid rgba(0, 47, 52, .2);
  display: flex;
  flex-direction: column;
}

.profile_option-text {
  display: flex;
  margin-left: 29px;
}

/* COMMON TO ALL */
input,
textarea,
input[type='button'],
select {
  width: 100%;
  height: calc(1.5em + .50rem + 1px) !important;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid var(--secondary-color) !important;
  outline: none;
  font-size: 1.2rem;
  color: var(--font-color)! important;
}

input[type='button'],
input[type='submit'],
textarea {
  width: auto;
  height: calc(1.5em + .50rem + 1px) !important;
  color: var(--font-color) !important;
  font-weight: bold;
  background-color: var(--secondary-color);

}

input[type='submit'] {
  margin: auto;
  display: block
}

textarea {
  outline: none;
  appearance: none;
  width: 95% !important;
  background-color: #fff !important;
  color: black !important;
  box-sizing: content-box;
  min-height: 120px;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='number']:focus,
input[type='time']:focus,
input[type='file']:focus,
textarea:focus,
select:focus {
 
  background-color: #fff !important;
  outline: 0 !important;
  box-shadow: 0 0 0 0.1rem var(--secondary-color) !important;
}

select {
  display: block;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  width: 100%;
  border-radius: 5px;
  border: 1px solid var(--secondary-color);
  outline: none;
  font-size: 1.2rem;
}

/*  FORM STYLES  for signin and signup*/

.form_container,
.form_container-wrapper {
  width: 450px !important;
  background-color: #ffff;
  margin: 20px auto;
  padding: 18px;
  border-radius: 10px;
  box-shadow: 0 0 6px 0 rgb(0 0 0 / 12%), 0 6px 6px 0 rgb(0 0 0 / 24%);
}

.form_container-wrapper {
  width: 600px !important;
}

.form_container-in {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.form_container-in-bottom {
  margin-left: 18px;
}

.msg {
  text-align: center;
  color: red;
  margin: 10px;
  word-break: break-word;
}

/*  MOBILE  */

/*  POPUP */
.popup_container,
.form_wrapper {
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100vw;
  z-index: 300;
  display: none;
  justify-content: center;
  align-items: center;

}

.popup_card,
.form_card {
  min-height: 200px;
  padding: 1rem;
  width: 75%;
  max-width: 310px;
  border-radius: 10px;
  background: white;
  box-shadow: rgb(255 255 255 / 5%) -1vmin -1vmin 1vmin, rgb(0 0 0 / 30%) 1vmin 1vmin 1vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.popup_text {
  font-size: 14px;
}

.popup_button {
  background-color: var(--secondary-color);
  color: var(--font-color);
  height: 30px;
  width: 60px;
  outline: none;
  border-radius: 2px;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.form_button {
  margin-top: 15px
}

.popup_button:hover {
  background-color: var(--secondary-color-less);
}

/*  loading animations */
/*  Loading animation  */
.loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.dot {
  width: 30px;
  height: 30px;
  background: var(--secondary-color);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bounce 1.2s infinite ease-in-out both;
  animation: bounce 1.2s infinite ease-in-out both;
}

.dot1 {
  -webkit-animation-delay: -0.22s;
  animation-delay: -0.32s;
}

.dot2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@keyframes bounce {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);

  }

  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);

  }
}

/* Tab  */
@media (max-width:990px) {

  /*NAV*/
  nav li,
  .home_dropdown p {
    width: 100%;
    border-radius: 5px;
    transition: background 0.1s ease-in-out;
  }

  .navbar-nav {
    align-items: flex-start;
  }

  .user_img,
  .arrow {
    display: none;
  }

  .profile_dropdown {
    visibility: initial !important;
    position: initial;
    width: 100%;
    box-shadow: none;
    border: 0;
    padding: 0;
  }

  /*NAV*/
  nav li,
  .home_dropdown p {
    width: 100%;
    border-radius: 5px;
    transition: background 0.1s ease-in-out;
  }

  .navbar-nav {
    align-items: flex-start;
  }

  .user_img,
  .arrow {
    display: none;
  }

  .profile_dropdown {
    visibility: initial !important;
    position: initial;
    width: 100%;
    box-shadow: none;
    border: 0;
    padding: 0;
  }

  .profile {
    justify-content: flex-start;
  }
}

/*mobile */
@media (max-width:768px) {

  /*  FORM STYLES */

  /*NAV*/
  nav li,
  .home_dropdown p {
    width: 100%;
    border-radius: 5px;
    transition: background 0.1s ease-in-out;
  }

  .navbar-nav {
    align-items: flex-start;
  }

  .user_img,
  .arrow {
    display: none;
  }

  .profile_dropdown {
    visibility: initial !important;
    position: initial;
    width: 100%;
    box-shadow: none;
    border: 0;
    padding: 0;
  }

  .profile {
    justify-content: flex-start;
  }

  .form_container,
  .form_container-wrapper {
    width: 90% !important;
  }

  .form_container-wrapper {
    padding: 18px 3px;
  }

  .form_container-in-left,
  .form_container-in-right {
    width: 88%;
  }

  .form_container-in-bottom {
    margin-left: 25px;
  }

  textarea.form-control {
    width: 85% !important;
  }

  input[type='file'] {
    width: 95%;
  }

  /*  NAV POPUP HOME*/
  .home_img {
    display: none;
  }

  .home_arrow {
    display: none;
  }

  .home_dropdown {
    width: 100%;
    visibility: initial !important;
    position: static;
    border: 0;
    box-shadow: none;
  }

  .home_dropdown-arrow {
    display: none;
  }
}